AddDefaultCharset utf-8

#Order Deny,Allow
#Deny from 184.179.205.91
#Deny from 59.254.217.52
#Deny from 13.73.127.94
#Deny from 62.210.249.242
#Deny from 188.68.53.72

#wp-admin/admin-post.php
#webconfig.txt.php
#wp-login.php

RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ index.php [NC,L,QSA]


RewriteCond %{HTTP_HOST} ^www. [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,NE,R=301]