.main_page_button {
	display       : block;
	float         : left;
	padding       : 20px;
	transition    : 0.3s;
	text-align    : center;
	border-radius : 50px;
}

.main_page_button svg {
	width : 30px;
	fill  : var(--t3);
}

.main_page_btn_group {
	display       : inline-block;
	border-radius : 50px;
	background    : var(--b2);
}

.main_page_button:hover {
	background : var(--t3);
}

.main_page_button:hover svg {
	fill : var(--b2);
}

.main_page_button.verified:before {
	position      : absolute;
	top           : 0;
	left          : 135px;
	display       : block;
	width         : 20px;
	height        : 20px;
	content       : "";
	border-radius : 100vmax;
	background    : var(--danger);
}

#posts_container {

	display               : grid;
	grid-template-columns : repeat(1, 1fr);
	grid-auto-rows        : 1fr;
	grid-gap              : 30px;
}

/*@media (min-width: 576px) {*/
/*}*/

@media (min-width : 992px) {
	#posts_container {
		grid-template-columns : repeat(2, 1fr);
	}
}

.post {
	display        : flex;
	flex-direction : column;
}

.esc {
	display       : block;
	width         : 100%;
	margin-bottom : 1em;
	padding-top   : 56.25%;
	background    : var(--gradient-color_1);
}

.post a, .post span a:hover, .gray_link:hover {
	transition      : 0.4s;
	text-decoration : none;
	color           : var(--t1) !important;
}

.post a:hover, .post span a, .gray_link {
	transition      : 0.4s;
	text-decoration : none;
	color           : var(--t3) !important;
}

.post a.verified {
	color : var(--danger) !important;
}

.post a.unverified {
	color : var(--info) !important;
}

.post a.verified:hover, .post a.unverified:hover {
	color : var(--t1) !important;
}