header {
	height: 50px;
	padding: 10px;
	background: #444;
	position: fixed;
	color: #ccc;
	width: 100%;
}
header div, header h1 {
	display: inline;
	float: left;
	padding: 2px 10px;
}
.cont {
	font-size: 24px;
}
.cont div {
	padding: 10px;
}
body {
	font-family: Tahoma, sans-serif;
	background: #ccc;
}
.php {
	background: #afa;
	color: #0a0;
}
.html {
	background: #faa;
	color: #a00;
}
.sql {
	background: #ffa;
	color: #aa0;
}
.js {
	background: #aff;
	color: #0aa;
}
.css {
	background: #aaf;
	color: #00a;
}
p {
	height: 3px;
	float: left;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}