/* Hide extras when not hovered */
:is(bard-sidenav, top-bar-actions):not(:hover) {
  opacity: 0;
}
:is(bard-sidenav, top-bar-actions):hover {
  transition-delay: 50ms;
}

/* Hide noise */
.boqOnegoogleliteOgbOneGoogleBar,
side-nav-sparkle-button,
hallucination-disclaimer {
  display: none !important;
}

/* Remove chat background to make less chatgpt-like */
chat-window input-area-v2 {
  background-color: transparent !important;
}

/** Free up vertical side bar space */
mat-action-list,
conversations-list {
  margin: 0 !important;
}
.sidenav-with-history-container .overflow-container {
  padding-top: 50px !important;
}
[data-test-id='chats-expandable-section']
  [data-test-id='expandable-section-toggle'] {
  display: none !important;
}
.conversations-container a {
  padding: 2.7px !important;
  height: unset !important;
}
