:root {

	--b1: #fff;
	--b2: #eee;
	--b3: #ddd;

	--t1: #000;
	--t2: #333;
	--t3: #999;

	--danger: #c69;
	--success: #9c6;
	--wanning: #c96;
	--info: #6c9;

	--brand: #fa1;
	--logo: url(../images/logo.png);

	--shadow: #000000bb;

	/*--te11: #c96;
	--te12: #c69;
	--te13: #9c6;
	--te14: #96c;
	--te15: #69c;
	--te16: #6c9;*/

}