.fam {
	margin-right: 8px;
}

.op-0 {
	opacity: 0 !important;
}

.op-1 {
	opacity: 1 !important;
}

@media (max-width: 576px) {

	.text-xs-only-center {
		text-align: center;
	}

}

@media (min-width: 576px) {

	.op-sm-0 {
		opacity: 0 !important;
	}

	.op-sm-1 {
		opacity: 1 !important;
	}

	.text-sm-center {
		text-align: center;
	}

}

@media (min-width: 768px) {

	.op-md-0 {
		opacity: 0 !important;
	}

	.op-md-1 {
		opacity: 1 !important;
	}

	.text-md-center {
		text-align: center !important;
	}

}

@media (min-width: 992px) {

	.op-lg-0 {
		opacity: 0 !important;
	}

	.op-lg-1 {
		opacity: 1 !important;
	}

	.text-lg-center {
		text-align: center !important;
	}

}

@media (min-width: 1200px) {

	.op-xl-0 {
		opacity: 0 !important;
	}

	.op-xl-1 {
		opacity: 1 !important;
	}

	.text-xl-center {
		text-align: center !important;
	}

}

@media (hover: none) {

	.op-ts-0 {
		opacity: 0 !important;
	}

	.op-ts-1 {
		opacity: 1 !important;
	}

	.text-ts-center {
		text-align: center !important;
	}

}