#player {
	border-radius: 100vw;
	background-color: #f00;
}

#grid {
	image-rendering: pixelated;
}

dt {
	background-size: contain !important;
}

.grass {
	background: url("/game/static/images/dirt.png");
}

.sand {
	background: url("/game/static/images/sand.png");
}

.stone {
	background: url("/game/static/images/stone.png");
}