html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  flex: 1;
}

aside {
  display: flex;

  > #openTabs {
    flex: 1;
  }

  > #lineCount {
    background: black;
    color: white;
  }

  > * {
    padding: 1rem;
  }
}
