.menuInp {
	display:inline-block;
	border:0;
	padding:0;
	top: 10px;
	left: 161px;
	outline:none;
	margin:0 24px 0 0;
	position: absolute;
}
[type="radio"] {
	position: absolute;
	left: -9999px;
}
[type="radio"]:checked + label {
	border: 5px solid #c77;
}
[type="radio"]:not(:checked) + label {
	border: 5px solid #ccc;
}
.overflowHiddenDivParrent, .form-group {
	overflow: hidden;
}
.escImg {
	max-width: 35%;
	min-width: 200px;
	height: auto;
	display: block;
	padding: 2%;
}