<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>design blog - free css template</title>
<meta name="keywords" content="free css templates, blog design, 2-column, web design, CSS, HTML" />
<meta name="description" content="Design Blog - free css template, 2-column blog layout" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_body_wrapper">
<div id="templatemo_wrapper">
    
    <div id="templatemo_header">
            
        <div id="site_title">
            <a href="http://www.templatemo.com/page/1" target="_parent">Design 
            	<span>Blog</span>
                <span class="tagline">Designed by Free CSS Templates</span>
            </a>
        </div> <!-- end of site_title -->
        
        <div id="search_box">
            <form action="#" method="get">
                <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
              <input type="submit" name="Search" value="Search" id="searchbutton" title="Search" />
            </form>
        </div>
    
   
        <div class="cleaner"></div>
        
    </div> <!-- end of header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current"><span></span>Home</a></li>
            <li><a href="#"><span></span>Web 2.0</a></li>
            <li><a href="#"><span></span>Wordpress</a></li>
            <li><a href="#"><span></span>Graphics</a></li>
            <li><a href="#"><span></span>Inspirations</a></li>
            <li><a href="#"><span></span>Freebies</a></li>
        </ul>    	
        
        <div id="register_box">
        	Already Registered? Click <a href="#" class="signup">Here</a> | <a href="#" class="new_reg">Register</a>
        </div>
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_main">
    	
        <div id="templatemo_content">
        
        	<div class="post_box">
            
                <h2><a href="#">Free Blog Design Templates</a></h2>		
                <div class="news_meta">Posted on <a href="#">Web Templates</a>, 14th January 2048 | Tags: <a href="#">Blog</a>, <a href="#">Templates</a>, <a href="#">Design</a>, <a href="#">Free</a></div>
                <div class="image_wrapper"><a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/templatemo_image_01.jpg" alt="image 1" /></a></div>
              <p align="justify">Design Blog is a <a href="http://www.templatemo.com" target="_parent">free CSS layout</a> by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> website. Feel free to adapt or edit or cutomize this template for any kind of content management system. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Praesent at libero diam. Vivamus venenatis eros lorem, in euismod tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur dictum risus ac eros lacinia sit amet egestas turpis luctus.  <a href="#" class="continue">Continue ...</a></p>
              <div class="cleaner"></div>
            </div>
            
            <div class="post_box">
            
                <h2><a href="#">Web Design Trends</a></h2>		
                <div class="news_meta">Posted on <a href="#">Web Design</a>, 28th July 2048 | Tags: <a href="#">CSS</a>, <a href="#">XHTML</a>, <a href="#">Standards</a></div>
                <div class="image_wrapper"><a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a></div>
              <p align="justify">Donec magna risus, mollis eget ullamcorper a, fringilla ut ligula. Fusce eu lectus non tortor dictum semper et eget eros. Integer enim eros, bibendum sed rhoncus et, congue vel odio. Sed quis augue turpis, quis vehicula nibh. Quisque hendrerit accumsan tellus, non lobortis lacus tincidunt vel. Pellentesque odio urna, convallis non ultrices quis, cursus id lectus. <a href="#" class="continue">Continue ...</a></p>
        <div class="cleaner"></div>
            </div>
            
           <div class="post_box pb_last">
            
                <h2><a href="#">Best Collection of Freebies</a></h2>		
                <div class="news_meta">Posted on <a href="#">Collection</a>, 26th June 2048 | Tags: <a href="#">Photos</a>, <a href="#">Photography</a>, <a href="#">Free Stuff</a></div>
             <div class="image_wrapper"><a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a></div>
             <p align="justify">Quisque in diam a justo condimentum molestie. Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur quis velit quis tortor tincidunt aliquet. Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero. Donec diam metus, semper eu elementum at, volutpat vel risus. Curabitur condimentum porttitor libero nec hendrerit. Nullam venenatis laoreet nibh eget iaculis. Ut vel nulla vitae magna aliquam luctus. <a href="#" class="continue">Continue ...</a></p>
             <div class="cleaner"></div>
          </div>
        
        </div>
        
        <div id="templatemo_sidebar">
        
        	<div id="aboutus">
            	<h3>About Design Blog</h3>
                <div class="image_fl"><img src="images/templatemo_about.jpg" alt="about this blog" /></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras volutpat aliquet risus, a ornare orci scelerisque et. <a href="#" class="continue">more...</a></p>
          </div>
            
            <div class="cleaner_h20"></div>
            
            <div class="sidebar_box">
            
            	<h3>Our Sponsors</h3>
                
                <div class="ads_125"><a href="http://www.templatemo.com/page/1" target="_parent"><img src="images/ads_125.jpg" alt="ad 1" /></a></div>
                <div class="ads_125 odd"><a href="http://www.templatemo.com/page/2" target="_parent"><img src="images/ads_125.jpg" alt="ad 2" /></a></div>
                
                <div class="ads_125"><a href="http://www.templatemo.com/page/3" target="_parent"><img src="images/ads_125.jpg" alt="ad 3" /></a></div>
                <div class="ads_125 odd"><a href="http://www.templatemo.com/page/4" target="_parent"><img src="images/ads_125.jpg" alt="ad 4" /></a></div>
                
              	<div class="cleaner"></div>
                
            </div>
            
            <div class="sidebar_box">
            	<h3>Categories</h3>
                
                <ul class="sidebar_menu">
                    <li><a href="#">&raquo; Web Design Tips <span>(260)</span></a></li>
                    <li><a href="#">&raquo; Beautiful Wallpapers <span>(380)</span></a></li>
                    <li><a href="#">&raquo; Free Fonts <span>(125)</span></a></li>
                  	<li><a href="#">&raquo; Digital Illustrations <span>(215)</span></a></li>
       		  </ul>
                
          </div>
            
            
            <div class="sidebar_box">
            	<h3>Archives</h3>
                <ul class="sm_two_col">
                    <li><a href="#">&raquo; February 2048</a></li>
                    <li><a href="#">&raquo; January 2048</a></li>
                    <li class="cleaner"><a href="#">&raquo; December 2047</a></li>
                    <li><a href="#">&raquo; Novermber 2047</a></li>
                    <li><a href="#">&raquo; October 2047</a></li>
                    <li><a href="#">&raquo; September 2047</a></li>
                </ul>
                
                <div class="cleaner"></div>
            </div>
  
            
          	<div class="sidebar_box">
            
            	<h3>Newsletter</h3>
                
                <form method="get" action="#">
                  	<input type="text" id="user" name="user" class="newsletter_email" value="Enter your email address"  onfocus="clearText(this)" onblur="clearText(this)" />
                    <input style="font-weight: bold;" type="submit" name="submit" id="submit" value="Subscribe" />
                </form>
                
            	<div class="cleaner_h20"></div>
              <a href="#" class="icon_link"><img src="images/templatemo_rss.jpg" alt="rss" /></a><a href="#" class="icon_link"><img src="images/templatemo_twitter.jpg" alt="twitter" /></a>
            </div>
        
        </div>
    
    	<div class="cleaner"></div>
    </div>
    
</div>
<div class="cleaner"></div>
</div>


<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    
    	<div class="footer_box col_w300">
        	<h4>Related Posts</h4>
            <ul class="footer_menu">
            	<li><a href="#">Duis vitae velit sed lesuada dignissim</a></li>
                <li><a href="#">Donec mollis aliquet ligula</a></li>
                <li><a href="#">Maecenas adipiscing elementum ipsum</a></li>
                <li><a href="#">Vivamus leo velit, convallis id</a></li>
                <li><a href="#">Curabitur condimentum porttitor</a></li>
            </ul>     
        </div>
        
        <div class="footer_box col_w160">
        	<h4>Authors</h4>
            <ul class="footer_menu">
            	<li><a href="#">Lesuada digni</a></li>
                <li><a href="#">Aliquet ligula</a></li>
                <li><a href="#">Convallis id</a></li>
                <li><a href="#">Maecenas adipis</a></li>
                <li><a href="#">Porttitor</a></li>
            </ul>     
        </div>
        
        <div class="footer_box col_w160">
        	<h4>Partners</h4>
            <ul class="footer_menu">
            	<li><a href="http://www.flashmo.com/page/1" target="_parent">Flash Components</a></li>
                <li><a href="http://www.templatemo.com/page/1" target="_parent">Website Templates</a></li>
                <li><a href="http://www.webdesignmo.com/blog" target="_parent">Web Design</a></li>
                <li><a href="http://www.templatemo.com" target="_parent">CSS Templates</a></li>
                <li><a href="http://www.koflash.com" target="_parent">Flash Web Gallery</a></li>
            </ul>     
        </div>

        <div class="footer_box col_w260 fb_last">
        	<h4>Tag Cloud</h4>
            	<a href="#" style="font-size:12px">Aenean</a> <a href="#" style="font-size:11px">Cursus</a> <a href="#" style="font-size:16px">Maecenas</a> <a href="#" style="font-size:11px">Aliquam Ligula</a> <a href="#" style="font-size:20px">Egestas</a> <a href="#" style="font-size:16px">Suscipit</a> <a href="#" style="font-size:12px">Sapien</a> <a href="#" style="font-size:28px">Dignissim</a> <a href="#" style="font-size:14px">Vestibulum</a> <a href="#" style="font-size:12px">Lorem</a> <a href="#" style="font-size:14px">Urnain</a> <a href="#" style="font-size:20px">Neque</a> <a href="#" style="font-size:12px">Aenean</a>
        </div>
    
    	<div class="cleaner"></div>
    </div>
</div>

<div id="templatemo_copyright">
    Copyright © 2048 <a href="#">Your Company Name</a> | 
    <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
</div>

</body>
</html>