body {
	background: #ccc;
}
.button {
	background: #bbb;
	cursor: pointer;
	border: 3px solid #aaa;
	float: left;
	padding: 1vw;
	text-align: center;
	margin: 15px;
	position: relative;
	height: 0;
	padding-top: 10%;
}
.button h2 {
	position: absolute;
	width: 100%;
	left: 0;
	top: calc(50%);
	line-height: 30px;
	margin: 0;
	font-size: 30px;
	transform: translateY(-50%);
}
.button .editLink {
	right: 25px;
}
.button:not(.empty):hover {
	background: #aaa;
}
.button:not(.empty):hover h2 {
	color: #444;
}
.button.empty {
	background: #666;
	cursor: no-drop;
}
p {
	padding: 1.5vw 0;
	font-size: 24px;
}
span {
	cursor: pointer;
	color: #66c;
}
span:hover {
	color: #99c;
}
span:click {
	color: #11c;
}
span:last-child {
	color: #333;
}
.form-group > * {
	margin-top: 15px;
}
li {
	font-size: 26px;
}
.navbar-right {
	margin-right: 0;
}
.navbar-right li a {
	color: #000;
}
.navbar-right li a:hover {
	cursor: pointer;
}
.button:hover a {
	display: block;
}
.button a {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}


@media (max-width: 768px) {
	.button {
		width: calc(50% - 30px) !important;
	}
}